.body-component {
    display: flex;
    flex-direction: column;
    padding: 0 14%;
    height: 100%;

    @media (min-width: 586px) and (max-width:768px) {
      padding: 0 6%;
    }

    @media (min-width: 768px) and (max-width:992px) {
      padding: 0 6%;
    }
    
    @media (max-width: 586px) {
        width: auto;
        height: 100%;
        padding: 0% 0%;
      }
    
}