.button-component {
  height: 30px;
  color: white;
  font-size: 0.87rem;
  background-color: rgb(69, 186, 69);
  border-radius: 3px;
  border: none;
  padding: 0px 10px;
  @media (min-width: 768px) and (max-width: 992px) {
    width: 15px;
    height: 17px;
    padding: 0px 5px;
  }
}

.button-component:hover {
  cursor: pointer;
}
