.button-component {
    height: 32px;
    color: white;
    font-size: 0.87rem;
    background-color: rgb(69, 186, 69);
    border-radius: 3px;
    border: none;
    padding: 0px 15px;
  }
  
  .button-component:hover {
    cursor: pointer;
  }
  