.footer-component {
    left: 0;
    top: 0;
    bottom: auto;
    right: 0;
    width: auto;
    height: 10rem;
    background-color: #1e1d23;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-component p {
    text-align: left;
    width: 65vh;
    padding-left: 180px;
  }