
.nav-content-position a {
  text-decoration: none;
  color: inherit;
  margin-top: 2px;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-component {
  left: 0;
  top: 0;
  bottom: auto;
  right: 0;
  width: 100%;
  height: 4rem;
  background-color: #1e1d23;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  @media (max-width: 586px) {
    height: 3.4rem;
  }
}

.hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: 5px 0px 0px 30px;
  width: 30px;
  position: absolute;
  z-index: 1;
  @media (min-width: 586px) and (max-width:768px) {
    margin-left: 38px;
  }
  @media (max-width: 586px) {
    margin: 2px 8px;
  }

  .hamburger-line {
    width:30px;
    height: 4px;
    background-color: white;
    margin: 4px 0px;
    transition: transform 0.3s, opacity 0.3s;
  }


  &.open {
    .hamburger-line:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    .hamburger-line:nth-child(2) {
      opacity: 0;
    }
    .hamburger-line:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.nav-container {
  display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: auto;
    padding: 0 14%;
    @media (min-width: 768px) and (max-width:992px) {
      padding: 0 6%;
   }
}
.open {
  position: absolute;
  flex-direction: column;
  height: 8.4rem;
  top: 4.5rem;
  left: 0rem;
  padding-left:10%;
  background-color: #1e1d23;
  position: relative;
  padding-right: 30%;
  z-index: 1;
  font-size: 1.1rem;
  
  .nav-content-position{
    display: flex;
  }
  .nav-cosmos-logo {
    display: none;
  }
}
.open-hamburger {
    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: white;


}
.nav-cosmos-logo {
  height: 25px;
  width: 133px;
}

.nav-content-position {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a:hover {
  cursor: pointer;
  color: rgb(151, 173, 173);
}
.nav-content-margin {
  margin-left: 38px;
}
.nav-space {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display:flex;
  }
  .nav-content-position{
    display:none;
  }
  .nav-container{
    height: 5rem;
    padding: 0px;
    align-content: flex-end;
    img {
      display: none;
    }
    a img {
      display: flex;
      width: 17px;
      color: white;
    }
  }
    
}


