.slider-component{
    margin: 30px 0px 0px 30px;
    color: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    min-width: 100vh;
}
.slider-container {
    display: flex;
    color: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 100vh;

}
.slider-content {
    min-width: 100vh;
}
.slider-content img {
    max-width: 100vh;
    height: 300px;
}

