
body { 
  background-color: #21252e;
  min-height: 100vh;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  color: #E0E1E4;
  margin: 0;
  font-size: 0.78125rem;
  font-weight: 400;
  font-family: "Ubuntu",sans-serif;
}
.slider-mover {
  padding: 20px;
  background-color: gray;
}


